<% content_for(:title, t('order_owner.title')) %>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">&nbsp;</h3>
        </div>
        <!-- card header -->

        <% if @order_owners.present? %>
          <div class="card-body table-responsive no-padding table-index-page" >
            <!-- rednering -->
            <table class="table table-hover table-striped text-sm key_account_table" role='datatable' >
              <thead>
                <tr>
                  <th><%= t('order_owner.name') %></th>
                  <th><%= t('order_owner.order_code_prefix') %></th>
                  <th><%= t('order_owner.addresses') %></th>
                  <th><%= t('order_owner.telephone') %></th>
                  <th><%= t('order_owner.handling_fee') %></th>
                  <th><%= t('order_owner.minimum_handling_fee') %></th>
                  <th><%= t('order_owner.maximum_handling_fee') %></th>
                  <th><%= t('order_owner.enable_minimum_consumption') %></th>
                  <th><%= t('order_owner.enable_maximum_consumption') %></th>
                  <th data-orderable="false"></th>
                </tr>
              </thead>

              <tbody>
                <% @order_owners.each do |o| %>
                  <tr>
                    <td><%= o.name %></td>
                    <td><%= o.order_code_prefix %></td>
                    <td><%= o.addresses %></td>
                    <td><%= o.telephone %></td>
                    <td><%= o.key_account? ? format_percentage(o.handling_fee) : t('no_record.not_applicable') %></td>
                    <td><%= o.key_account? ? format_order_owner_handling_fee(o.minimum_handling_fee) : t('no_record.not_applicable') %></td>
                    <td><%= o.key_account? ? format_order_owner_handling_fee(o.maximum_handling_fee) : t('no_record.not_applicable') %></td>
                    <td><%= o.key_account? ? format_boolean(o.enable_minimum_consumption) : t('no_record.not_applicable') %></td>
                    <td><%= o.key_account? ? format_boolean(o.enable_maximum_consumption) : t('no_record.not_applicable') %></td>
                    <td>
                      <div class = "button-group" > <!-- not using class btn-group to split the button-->
                        <%= link_to_btn admin_order_owner_path(o), 'show' %>
                        <%= link_to_btn edit_admin_order_owner_path(o), 'edit' %>
                        <%= link_to_btn admin_order_owner_path(o), 'real_delete', method: :delete, data: { confirm: I18n.t(:'message.confirm_delete_message') }, title: "Delete" %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
        <!-- /.card-body -->

    </div>
    <!-- /.col-md-12 -->
  </div>
  <%= render partial: "admin/shared/no_record_table" unless @order_owners.present? %>
</section>