<div class="card nested-fields order_product_fields">
  <div class="card-header">
    <h4 class="card-title">
      <%= f.object.id.present? ? "#{t(:'order_product.exist')}: <b>#{h(f.object.product_name)}</b>".html_safe : t(:'order_product.new') %>
    </h4>
    <div class="card-tools pull-right">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>

  <div class="card-body">
    <h5> <%= t(:'order_product.product_header') %> </h5>
    <div class="clearfix row">
      <div class="field form-group col-md-3">
        <%= f.input :shop_from %>
      </div>

      <div class="field form-group col-md-9">
        <%= f.input :product_name %>
      </div>

      <div class="field form-group col-md-2">
        <%= f.input :product_quantity, input_html: {value: f.object.product_quantity || '1'} %>
      </div>

      <div class="field form-group col-md-2">
        <%= f.input :product_price %>
      </div>

      <div class="field form-group col-md-8">
        <%= f.input :product_remark %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <h5> <%= t(:'order_product.shipment_header') %> </h5>
    <div class="clearfix row">
      <div class="field form-group col-md-6">
        <%= f.input :tracking_number %>
      </div>

      <div class="field form-group col-md-6">
        <%= f.input :hk_tracking_number %>
      </div>

      <div class="field form-group col-md-4">
        <%= f.input :receive_number %>
      </div>

      <div class="field form-group col-md-4">
        <%= f.label :ship_date %>
        <div class="input-group" data-target-input="nearest">
            <%= f.text_field :ship_date, id: "ship_date", class: "flatpickr", placeholder: t(:'order_product.ship_date') %>
        </div>
      </div>

    </div>
  </div>

  <div class="card-body product_cost_fields">
    <h5> <%= t(:'order_product.cost_header') %> </h5>
    <div class="clearfix row">
      <div class="field form-group col-md-4">
        <%= f.input :product_cost, input_html: { class: 'product_cost' } %>
      </div>

      <div class="field form-group col-md-4">
        <%= f.input :shipment_cost, input_html: { class: 'shipment_cost' } %>
      </div>

      <div class="field form-group col-md-4">
        <%= f.input :discount, input_html: { class: 'discount' } %>
      </div>

      <div class="field form-group col-md-4">
        <%= f.input :total_cost, input_html: { class: 'total_cost', readonly: true } %>
      </div>

      <div class="field form-group col-md-6">
        <%= f.label :receipt_date %>
        <div class="input-group date" data-target-input="nearest">
            <%= f.text_field :receipt_date, id: "receipt_date", class: "flatpickr", placeholder: t(:'order_product.receipt_date') %>
        </div>
      </div>
      
      <div class="form-group col-md-12">
        <hr>
        <%= link_to_remove_association t(:'button.remove'), f, class: 'btn btn-danger btn-md' %>
      </div>

    </div>
  </div>


</div>
