<section class="content">
  <%= simple_form_for(@order, :url => admin_orders_path, role: 'form', html: { class: 'order_form' } ) do |f| %>

    <% if @order.order_type == Order::ORDER_TYPE_NORMAL %>
      <%= render 'form' , f: f %>
    <% else %>
      <%= render 'form_prepaid', f: f %>
    <% end %>
  <% end %>

  <% if @order.order_type == Order::ORDER_TYPE_NORMAL %>
    <%= link_to t(:'button.back'), admin_orders_path, class: 'btn btn-default' %>
  <% else %>
    <%= link_to t(:'button.back'), admin_order_owner_orders_path(@order_owner, type: "prepaid"), class: 'btn btn-default' %>
  <% end %>
</section>
