<% content_for(:title, t('admin.title')) %>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">&nbsp;</h3>
        </div>
        <!-- card header -->

        <% if @admins.present? %>
          <div class="card-body table-responsive no-padding table-index-page" >
            <!-- rednering -->
            <table class="table table-hover table-striped text-sm" role='datatable' >
              <thead>
                <tr>
                  <th><%= t('admin.name') %></th>
                  <th><%= t('admin.username') %></th>
                  <th><%= t('admin.role') %></th>
                  <th data-orderable="false"></th>
                </tr>
              </thead>

              <tbody>
                <% @admins.each do |a| %>
                  <tr>
                    <td><%= a.name %></td>
                    <td><%= a.username %></td>
                    <td><%= I18n.t(:"enums.role.#{a.role}") %></td>
                    <td>
                      <div class = "button-group" > <!-- not using class btn-group to split the button-->
                        <%= link_to_btn admin_admin_path(a), 'show' %>
                        <%= link_to_btn edit_admin_admin_path(a), 'edit' %>
                        <%= link_to_btn admin_admin_path(a), 'real_delete', method: :delete, data: { confirm: I18n.t(:'message.confirm_delete_message') }, title: "Delete" %>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
      </div>
        <!-- /.card-body -->

    </div>
    <!-- /.col-md-12 -->
  </div>
  <%= render partial: "admin/shared/no_record_table" unless @admins.present? %>
</section>