<% content_for(:title, '登入') %>
 <div class="login-box">
   <div class="login-logo">
     <a href="/"><h1><b>FT</b> ADMIN LOGIN</h1></a>
   </div>
   <!-- /.login-logo -->
   <div class="card">
     <div class="card-body login-card-body">
 
       <%= form_with url: admin_login_path, local: true do |f| %>
         <%= f.label :email, t('defaults.email') %>
         <div class="input-group mb-3">
           <%= f.text_field :username, class: 'form-control', placeholder: t('defaults.email') %>
           <div class="input-group-append">
             <div class="input-group-text">
               <span class="fas fa-id-card"></span>
             </div>
           </div>
         </div>
 
         <%= f.label :password, t('defaults.password') %>
         <div class="input-group mb-3">
           <%= f.password_field :password, class: 'form-control', placeholder: t('defaults.password') %>
           <div class="input-group-append">
             <div class="input-group-text">
               <span class="fas fa-lock"></span>
             </div>
           </div>
         </div>
 
         <div class="row">
           <div class="col-12">
             <%= f.submit (t 'defaults.login'), class: 'btn btn-block btn-primary' %>
           </div>
         </div>
       <% end %>
     </div>
   </div>
 </div>